* {
    color: rgba(197, 190, 206, 0.67);
    font-size: 16px;
    font-weight: 500;
    font-family: "Less Perfect DOS VGA";
}

window#waybar {
    border-top: 1px solid rgba(197, 190, 206, 0.335);
    background: rgba(17, 14, 23, 0.335);
}

#custom-vpn, #custom-seperator, #clock, #user, #pulseaudio {
    margin: 8px;
    padding-left: 4px;
    padding-right: 4px;

    border-top: 1px solid rgba(197, 190, 206, 0.335);;
    border-left: 1px solid rgba(197, 190, 206, 0.335);;
    border-right: 1px solid rgba(197, 190, 206, 0.67);
    border-bottom: 1px solid rgba(197, 190, 206, 0.67);
}

#custom-seperator {
    padding-left: 0px;
    padding-right: 0px;
}
